<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @client.company.name %>
</p>

<p>
  <b>Contact:</b>
  <%= @client.contact.last_name %>
</p>

<p>
  <b>Agency:</b>
  <%= @client.agency.name %>
</p>

<p>
  <b>Rate:</b>
  <%= @client.rate.value %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
