<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.select :contact_id, @contacts.collect {|con| ["%s, %s" % [con.last_name, con.first_name], con.id] }, { :include_blank => true } %>
    <%= link_to 'New contact', new_contact_path, :onclick => "return open_in_new(this)" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
