<%= form_for(@mile) do |f| %>
  <% if @mile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mile.errors.count, "error") %> prohibited this mile from being saved:</h2>

      <ul>
      <% @mile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :total_miles %><br />
    <%= f.number_field :total_miles %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
