
<table>
  <tr>
    <th>Date</th>
    <th>Total miles</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @miles.each do |mile| %>
  <tr>
    <td><%= mile.date %></td>
    <td><%= mile.total_miles %></td>
    <td><%= link_to 'Show', mile %></td>
    <td><%= link_to 'Edit', edit_mile_path(mile) %></td>
    <td><%= link_to 'Destroy', mile, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mile', new_mile_path %>
